@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #24252a;
}

li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}
/* justify-content:flex end will push everything to the right */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}
/* to make the logo move to the left you can do a margin-right:auto */
.logo{
    cursor: pointer;
}

.nav__links{
    list-style: none;
}

.nav__links li{
    display:inline-block;
    padding:0px 20px;
}

.nav__links li a {
    transition:all 0.3 ease 0s;
}

.nav__links li a:hover {
    color: rgba(255, 105, 180,0.8);
}
/* margin left 20px will have space for the button all looks equal */
button{
    padding:0px 25px;
    background-color: rgba(255, 105, 180,1);
    border: none;
    border-radius: 50px;
    cursor:pointer;
    transition: :all o.3s ease 0s;
}

button:hover{
    background-color: rgba(255, 105, 180,0.8);
}

/* #FF69B4 */